<div id="banner" onclick="javascript: window.open(window.clickTag);">
  <div class="outline"></div>

  <div class="frame frame1">
    <img class="hero1 retina" src="../_common/images/<%= name %>/<%= size %>/hero1.jpg" />

    <img class="ypy ypy_1 retina" src="../_common/images/<%= name %>/<%= size %>/ypy_1.png" />
    <img class="ypy ypy_2 retina" src="../_common/images/<%= name %>/<%= size %>/ypy_2.png" />
    <img class="ypy ypy_3 retina" src="../_common/images/<%= name %>/<%= size %>/ypy_3.png" />

    

     <% if (typeof hero2 !== 'undefined' && hero2) { %>
      <%- include(hero2) %>
    <% } %>

     <% if (typeof deviceStart !== 'undefined' && deviceStart) { %>
      <%- include(deviceStart) %>
    <% } %>

    <img class="t1 retina" src="../_common/images/<%= name %>/<%= size %>/t1.png" />
    <img class="t2 retina" src="../_common/images/<%= name %>/<%= size %>/t2.png" />

    <% if (typeof endBG !== 'undefined' && endBG) { %>
      <%- include(endBG) %>
    <% } %>
    
    <img class="end_txt retina" src="../_common/images/<%= name %>/<%= size %>/end_txt.png" />
    <img class="end_cta retina" src="../_common/images/<%= name %>/<%= size %>/end_cta.png" />

    <% if (typeof deviceEnd !== 'undefined' && deviceEnd) { %>
      <%- include(deviceEnd) %>
    <% } %>
    
    <img class="end_legal retina" src="../_common/images/<%= name %>/<%= size %>/end_legal.png" />
    <img id="logo_static" class="logo retina" src="../_common/images/olg_<%= size %>.png" />
    <img class="ps retina" src="../_common/images/ps_<%= size %>.png" />
  </div>
  <div id="legalBtn"></div>
  <div id="legalContent">
    Must be 19 years of age or older and a resident of Ontario, located in the province to play online casino games.
    Games may not appear as shown. Odds vary by game. Terms and conditions apply.
  </div>

  <%- include('./olg_logo') %>
</div>
